* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
    color: rgb(76, 78, 97);
    width: 100vw;
    font-size: 15px;
    overflow-x: hidden;
}

body p {
    color: rgb(163, 165, 174);
}

.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 60%;
    text-align: center;
    line-height: 1.4;
    margin-top: 35px;
}

header .h1_1 {
    font-weight: 100;
}

header p {
    margin-top: 12px;
    color: rgb(163, 165, 174);
}


/*Cards*/

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 88%;
    height: 440px;
}

@media screen and (max-width: 1015px) {
    .cards {
        width: 100%;
    }
}

.left_card,
.middle_cards,
.right_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 268px;
}

.middle_cards {
    justify-content: space-between;
}

.cards .card {
    background-color: #fff;
    height: 200px;
    border: none;
    border-top: 4px solid #797676;
    border-radius: 5px;
    box-shadow: -2px 5px 20px -5px #a3a5ae;
}

.cards .c1 {
    border-top-color: #45d3d3;
}

.cards .c2 {
    border-top-color: #ea5353;
}

.cards .c3 {
    border-top-color: #fcaf4a;
}

.cards .c4 {
    border-top-color: #549ef2;
}

.cards h2 {
    font-size: 18px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 14px;
}

.cards p {
    font-size: 14px;
    padding-left: 15px;
    line-height: 1.6;
}

.cards img {
    margin-top: 22px;
    margin-right: 22px;
    float: right;
}

@media screen and (max-width:885px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .card {
        margin-top: 25px;
    }
}

@media screen and (max-width:580px) {
    header {
        width: 90%;
    }
}

@media screen and (max-width:376px) {
    header h1 {
        font-size: 1.9em;
    }
}

@media screen and (max-width:372px) {
    header h1 {
        font-size: 1.5em;
    }
}


/** Created by : GASSAI Hamza 
/** https://github.com/GHamza-Dev
/** UI Challenge : https://www.frontendmentor.io/challenges **/

#madeBy {
    margin-top: 100px;
    background-color: #000;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding: 20px;
    letter-spacing: 1.5px;
}

#madeBy .name {
    font-size: 1.4rem;
}

#madeBy .ui {
    font-size: 1.2rem;
    margin-top: 15px;
}

#madeBy a {
    color: yellowgreen;
}

#madeBy ul {
    list-style: none;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

@media only screen and (max-width:446px) {
    #madeBy .name {
        font-size: 1rem;
    }
    #madeBy .ui {
        font-size: 1rem;
    }
}


/*END ❤️*/